@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Monoton&family=Poppins:wght@400;600&display=swap');

:root {
    /*    applies to all*/
    --purple: #8777ff;
    --dark: #222222;
    --darkpurple: #420699;
    --prussian-blue: #003153;
    --cerulean-blue: #2A52BE;
    --castleton-green: #00563F;
}

html,
body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /*background: url("/static/mesh-gradient.png") no-repeat 50%;*/
    /*background: url("/static/mesh-gradient-bluecircle.png") no-repeat 50%;*/
    /*background: url("/static/mesh-gradient1.png") no-repeat 50%;*/
    /*background-size: cover;*/
    background-color: var(--cerulean-blue);
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}


h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
    font-weight: 600;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
code {
    /*background: #fafafa;*/
    /*white-space: break-spaces;*/
    hyphens: auto;
    white-space: pre-wrap;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    overflow-x: visible !important;
    /*width: 300px;*/
}
